<% include ../partials/header %>

<div class="container">
    <% vehicle.forEach(function(data){ %>
        <div class="row">
             <div class="col-md-3">
                    <div class="list-group">
                        <li class="list-group-item active"><h4><%= data.make %> <%= data.model %></h4></li>
                        <li class="list-group-item well">
                            <h4>Cost         : £<%= data.price %></h4>
                            <h4>Transmission : <%= data.transmission %></h4>
                            <h4>Fuel Type    : <%= data.fuel_type %></h4>
                            <h4>Year         : <%= data.model_year %></h4>
                            <h5>Search Results: <%= data.length %></h5>
                        </li>
                    </div>
            </div>
            
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="image-responsive" src="<%= data.image %>">
                    <div class="caption">
                        <h4 class="pull-right">£<%= data.price %></h4>
                        <h4><a><%= vehicle.make %> <%= data.model %></a></h4>
                        <p><%= data.description %></p>
                        <p><em><strong>Submitted By <%= data.author.username %></strong></em></p>
                        <% if(currentUser && data.author.id.equals(currentUser._id)){ %>
                            <a class = "btn btn-warning btn-md" href="/vehicles/<%= data._id %>/edit">Edit</a>
                                  <% } %>
                        <a class = "btn btn-warning btn-md" href="/vehicles/<%= data._id %>">More</a>
                    </div>
                </div>
            </div>
        </div>
            <% }); %>
</div>

<% include ../partials/footer %>